.page-loader {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #050816;

  z-index: 99999;
}

.loader-card {
  width: 360px;

  padding: 3rem 2rem;

  border-radius: 22px;

  background: rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.08);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;

  animation: fadeUp 0.4s ease;
}

.loader-spinner {
  width: 60px;
  height: 60px;

  border: 4px solid rgba(255, 255, 255, 0.12);

  border-top: 4px solid #3b82f6;

  border-radius: 50%;

  animation: spin 1s linear infinite;
}

.loader-card h1 {
  color: white;
  font-size: 2rem;
}

.loader-card p {
  color: #d1d5db;
  text-align: center;
}

.loader-card span {
  color: #7d8590;
  font-size: 0.9rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .loader-card {
    width: 90%;
    padding: 2rem;
  }
}
